apiVersion: v1
kind: Service
metadata:
  name: guestbook
spec:
  type: {{ .Values.service.type }}
  selector:
    app: guestbook
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: 80
